<h2>Global Sponsors</h2>
  <ul id="sponsors">
   <li><a href="http://www.jetbrains.com" target="_blank"><img src="/images/gdcr_sponsors/jetbrains_logo.gif" alt="JetBrains"/></a></li>
   <li><a href="http://pragprog.com" target="_blank"><img src="/images/gdcr_sponsors/pragmatic_programmers_logo.gif" alt="Pragmatic Programmers"/></a></li>
   <li><a href="http://www.codeschool.com" target="_blank"><img src="/images/gdcr_sponsors/code_school_logo.png" alt="Code School"/></a></li>
 </ul>
 <a href="#become_a_sponsor">Become a Global Sponsor</a>
