<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="description" content="I intend to facilitate at least 10 code retreats around the country and the world. Along the way, I will do my best to share the formula, so that others can learn to facilitate their own. The more skilled facilitators there are, the more code retreats can be successfully run to their full potential." />
   
  <title>Code Retreat :: Corey Haines Tour 2010</title>
  <link rel="icon" type="image/png" href="/images/favicon.ico">
  <link rel="stylesheet" href="/stylesheets/print.css" type="text/css" media="print">
  <link rel="stylesheet" href="/stylesheets/screen.css" type="text/css" media="screen">
  <link rel="stylesheet" href="/stylesheets/main.css" type="text/css" media="screen">

  <script type="text/javascript" src="/javascripts/analytics.js"></script>
</head>
<body>
  <div id="container">
    <div id="header">
      <a href="/">
        <h1>Code Retreat</h1>
        <h2>programmers honing their craft together</h2>
      </a>
    </div>
    {{ content }} 
  </div>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
  <script type="text/javascript" src="/javascripts/application.js"></script>
</body>
</html>

